* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  .pages {
    color: #316685;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
  }

  .footer {
    margin-top: 20px;
    bottom:0;
    height:80px;
    width:100%;
    background-color: white;
    color: #D2D6D4;
    text-align: center;
    
    
}

/*Sales page CSS*/

.overlapping_container {
  width: 100%;
  text-align: center;
  margin: auto;
  display:inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
   
}

.class1 {
  padding: 25px;  
  display: inline-block;
  align-items: center;
  margin-top: 50px;
}

.class2 {
  margin-top: 50px;
  padding: 25px;  
  display: inline-block;
  align-items: center;
}

.sale_img_1 {
  display:block;
  width: 400px; 
  height: 400px; 
  object-fit: cover;
  z-index: 1;
  
}

.sale_img_2 {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: right;
  top: -60px;
  position:relative;
  z-index: 2;
  display: block;
  
  
}


.sale_img_3 {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: left;
  top: -60px;
  position:relative;
  z-index: 2;
  display: block;
  
  
}

.coats {
  
}

.coat_men {
  width:500px; 
  height:250px;
  margin-bottom: 50px;
  object-fit: cover;
}

.coat_women {
  width:500px; 
  height:250px;
  object-fit: cover;
  margin-left: -300px;
  margin-top: 50px;
}


/*Women Page CSS*/

.woman_item_image {
  width: 350px; 
  height: 500px; 
  object-fit: cover;
}

.div_container {
  padding: 25px;
  display: inline-block;
  
}

.div_container_all {
  text-align: center;
}

.div_container_all h2 {
  padding: 10px; 
}


/*Contact*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container_contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  display: flex;
  text-align: center;
}


