* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  .pages {
    color: #316685;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
  }

  .footer {
    margin-top: 20px;
    bottom:0;
    height:70px;
    width:100%;
    background-color: white;
    color: #D2D6D4;
    text-align: center;
    padding: 10px;
    
}

.overlapping_container {
  width: 90%;
  max-width: 470px;
  margin: 50px auto;
  display:inline-block;
  align-items: center;
  justify-content: center;
  
   
}

.class1 {
  padding: 10px;  
}

.sale_img_1 {
  
  width: 450px; 
  height: 450px; 
  object-fit: cover;
  z-index: 1;
}

.sale_img_2 {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: right;
  top: -60px;
  position:relative;
  z-index: 2;
  
}
