* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  .pages {
    color: #316685;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
  }

  .footer {
    margin-top: 20px;
    bottom:0;
    height:70px;
    width:100%;
    background-color: white;
    color: #D2D6D4;
    text-align: center;
    
    
}

/*Sales page CSS*/

.overlapping_container {
  width: 100%;
  text-align: center;
  margin: auto;
  display:inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
   
}

.class1 {
  padding: 25px;  
  display: inline-block;
  align-items: center;
  margin-top: 50px;
}

.class2 {
  margin-top: 50px;
  padding: 25px;  
  display: inline-block;
  align-items: center;
}

.sale_img_1 {
  display:block;
  width: 400px; 
  height: 400px; 
  object-fit: cover;
  z-index: 1;
  
}

.sale_img_2 {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: right;
  top: -60px;
  position:relative;
  z-index: 2;
  display: block;
  
  
}


.sale_img_3 {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: left;
  top: -60px;
  position:relative;
  z-index: 2;
  display: block;
  
  
}

.coats {
  
}

.coat_men {
  width:500px; 
  height:250px;
  margin-bottom: 50px;
  object-fit: cover;
}

.coat_women {
  width:500px; 
  height:250px;
  object-fit: cover;
  margin-left: -300px;
  margin-top: 50px;
}


/*Women Page CSS*/

.woman_item_image {
  width: 350px; 
  height: 500px; 
  object-fit: cover;
}

.div_container {
  padding: 25px;
  display: inline-block;
  
}

.div_container_all {
  text-align: center;
}

.div_container_all h2 {
  padding: 10px; 
}